# ignore files in resources and multiuser-resources folders
aspx/wwwroot/multiuser-resources/**
aspx/wwwroot/resources/**
!aspx/wwwroot/multiuser-resources/group/readme.txt
!aspx/wwwroot/multiuser-resources/user/readme.txt
!aspx/wwwroot/resources/testapp.ico
!aspx/wwwroot/resources/testapp.rdp

# ignore the bundled frontend files
aspx/wwwroot/lib/assets/
aspx/wwwroot/lib/winui.css
aspx/wwwroot/service-worker.js
aspx/wwwroot/manifest.aspx
