# ignore files in resources and multiuser-resources folders
aspx/wwwroot/App_Data/**
!aspx/wwwroot/App_Data/multiuser-resources/group/readme.txt
!aspx/wwwroot/App_Data/multiuser-resources/user/readme.txt
!aspx/wwwroot/App_Data/resources/readme.txt

# ignore the bundled frontend files
aspx/wwwroot/lib/assets/
aspx/wwwroot/lib/winui.css
aspx/wwwroot/service-worker.js
aspx/wwwroot/manifest.webmanifest
aspx/wwwroot/lib/build.timestamp
aspx/wwwroot/locales/
aspx/wwwroot/*.html
aspx/wwwroot/obj
aspx/wwwroot/build
