<?xml version="1.0"?>
<configuration>
   <system.web>
      <compilation defaultLanguage="C#" targetFramework="4.0">
      </compilation>
   </system.web>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".rdp" mimeType="application/x-rdp" />
         <mimeMap fileExtension=".vue" mimeType="application/javascript" />
         <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
         <mimeMap fileExtension=".webp" mimeType="image/webp" />
      </staticContent>
   </system.webServer>
</configuration>
