<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="raweb.exe"
                stdoutLogEnabled="true"
                stdoutLogFile=".\App_Data\logs\stdout"
                hostingModel="OutOfProcess"
                forwardWindowsAuthToken="true">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_DETAILED_ERRORS" value="true" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
