<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <appSettings configSource="App_Data\appSettings.config" />

   <system.web>
      <httpRuntime targetFramework="4.6.2" />
      <compilation defaultLanguage="C#" targetFramework="4.6.2">
         <assemblies>
            <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         </assemblies>
      </compilation>
      <customErrors mode="Off" />
      <globalization culture="auto" uiCulture="auto" />
   </system.web>

   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".vue" mimeType="application/javascript" />
         <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
         <mimeMap fileExtension=".webp" mimeType="image/webp" />
         <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
         <mimeMap fileExtension=".md" mimeType="text/markdown" />
      </staticContent>
      <handlers>
         <add name="AllowAllRequestsToReachApi" path="api/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" />
         <add name="GuacdTunnel" path="guacd-tunnel" verb="*" type="RAWebServer.Handlers.GuacdTunnel" resourceType="Unspecified" />
      </handlers>
      <caching>
         <profiles>
            <add extension=".aspx" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
            <add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
            <add extension=".mjs" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
            <add extension=".rdp" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
            <add extension=".ts" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
            <add extension=".vue" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
         </profiles>
      </caching>
      <defaultDocument enabled="true">
         <files>
            <clear />
            <add value="index.html" />
         </files>
      </defaultDocument>
      <modules>
         <!-- use custom logic for serving html files (we inject some strings) -->
         <add name="InterceptHtml" type="RAWebServer.Modules.InterceptHtml" />
         <add name="AuthUserStaleWhileRevalidate" type="RAWebServer.Modules.AuthUserStaleWhileRevalidate" preCondition="managedHandler" />
      </modules>
   </system.webServer>

   <runtime>
      <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=false;Switch.System.Net.DontEnableTls12=false" />
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
